<% include partials/header.ejs %>

<div class="added col-md-12 col-sm-12 text-block wrapper">

      <% if (user) { %>
      <h4>Welcome, <b><%= typeof user.fullName === 'string' ? user.fullName : 'Unknown' %></b></h4>
      <% } %>
      <hr>
      <ul>
      <h4>
      <li>Click 'New Search' in the navigation bar to perform a game search to add into your collection.</li>
      <br>
      <li>Can't decide what game to play from your collection? Click the 'Random Game Choice' in the navigation bar
      for a random game from your collection. Click it again for a new random selection.</li>
      </h4>
      </ul>
      <hr>

</div>


<div class="added col-md-12 col-sm-12 text-block wrapper table-responsive">
      <h3>Your Game Collection</h3>
      <table class="table table-striped" border="4">

            <tr>
            <th>Title</th>
            <th>Game ID</th>
            <th></th>
            <th></th>
            </tr>

      <% allData.forEach(function(element, indexOfArray) { %>
            <tr>
                  <td>
                        <%= element.title %>
                  </td>

                  <td>
                        <%= element.game_id%>
                  </td>

                  <td>
                        <a href="/games/<%=element.game_id%>" class="btn btn-primary btn-sm">More Info</a>
                  </td>

                  <td>
                        <a href="#" data-myparam="<%=element.id%>" class="btn btn-danger btn-sm deleteAdded">Delete</a>
                  </td>

            </tr>
      <% }) %>

      </table>
</div>




<% include partials/footer.ejs %>