<% include partials/header.ejs %>


    <div class="col-md-6 col-sm-6 text-left text-block wrapper center">





            <% if(!userHasGame) { %>

            <!-- <a class="btn btn-primary btn-sm" href="/results?title=<%=previousSearch%>">&larr;Back to search results</a> -->

            <a class="btn btn-primary btn-sm" href="/results?title=<%=previousSearch%>"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> search results</a>
            <a href="#" data-title="<%=title%>" data-gameid="<%=gameId%>" class="btn btn-primary btn-sm addButton">+</a>
            <% } %>

            <hr>
            <br>
            <p>Title: <%=title%></p>
            <hr>
            <br>
            <p>Year: <%=year%></p>
            <hr>
            <br>
            <p>Playing Time: <%=playTime%></p>
            <hr>
            <br>
            <p>Minimum players: <%=minPlayers%></p>
            <hr>
            <br>
            <p>Maximum players: <%=maxPlayers%></p>
            <br>
            <hr>
            <p>Boardgame Image:
            <br>
            <br>
            <img src=<%=thumbnail%>></p>

    </div>




<% include partials/footer.ejs %>